@import '~bulmaswatch/cerulean/bulmaswatch.min.css';


html,
body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: 100%;
}

body,
.login-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/*fix nav bug*/
@media screen and (max-width: 768px) {
  .navbar:not(.is-transparent) .navbar-menu {
    background-image: none !important;
  }
}

.navbar:not(.is-transparent) {
  background-image: none !important;
}

/* Ensure the navbar background is consistent and text is visible */
.navbar,
.navbar-menu {
  background-color: #337ab7 !important;
  /* Apply the background color to both navbar and menu */
  color: white;
}

.navbar-item,
.navbar-link {
  background-color: #337ab7 !important;
  color: white !important;
  text-decoration: none;
}

.navbar-item:active,
.navbar-link:active {
  background-color: #337ab7 !important;
  color: white;
}

.navbar-item:hover,
.navbar-link:hover {
  background-color: transparent;
  color: #ddd !important;
}

.navbar-burger {
  color: white;
  /* Ensure burger menu is visible */
}

.container {
  max-width: 960px;
  /* Adjust this width as necessary */
  margin: 0 auto;
  flex: 1;
  width: 100%;
}

.section {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.content-container {
  padding: 20px;
}

.login-page {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.login-box {
  max-width: 400px;
  width: 100%;
  padding: 30px 70px;
  /* Your updated padding */
  background: white;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.footer.has-background-primary-blue {
  background-color: #337ab7;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.login-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-topic-modal {
  width: 960px;
  max-width: 90%;
}

/* Fix markdown editor icons height*/
.rc-md-editor .rc-md-navigation .button-wrap .button {
  height: 40px;
}